version: '3.8'

services:
  web:
    build:
      context: ./apps/web
      dockerfile: ../../docker/web/Dockerfile
    ports:
      - '3000:3000'
    volumes:
      - ./apps/web:/app
    environment:
      - NEXT_PUBLIC_SUPABASE_URL=${NEXT_PUBLIC_SUPABASE_URL}
      - NEXT_PUBLIC_SUPABASE_ANON_KEY=${NEXT_PUBLIC_SUPABASE_ANON_KEY}
    command: npm run dev
